SOAP/consumidor/xml-resources/web-service-references/WebServiceSOAP/wsdl/localhost_8080/ProyectoCartasSOAP/WebServiceSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CartasSOAP/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CartasSOAP/" name="WebServiceSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://CartasSOAP/" schemaLocation="http://localhost:8080/ProyectoCartasSOAP/WebServiceSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="iniciarJoc">
<part name="parameters" element="tns:iniciarJoc"/>
</message>
<message name="iniciarJocResponse">
<part name="parameters" element="tns:iniciarJocResponse"/>
</message>
<message name="tirarCarta">
<part name="parameters" element="tns:tirarCarta"/>
</message>
<message name="tirarCartaResponse">
<part name="parameters" element="tns:tirarCartaResponse"/>
</message>
<message name="acabarJoc">
<part name="parameters" element="tns:acabarJoc"/>
</message>
<message name="acabarJocResponse">
<part name="parameters" element="tns:acabarJocResponse"/>
</message>
<message name="mostrarCartes">
<part name="parameters" element="tns:mostrarCartes"/>
</message>
<message name="mostrarCartesResponse">
<part name="parameters" element="tns:mostrarCartesResponse"/>
</message>
<message name="moureJugadorPassa">
<part name="parameters" element="tns:moureJugadorPassa"/>
</message>
<message name="moureJugadorPassaResponse">
<part name="parameters" element="tns:moureJugadorPassaResponse"/>
</message>
<portType name="WebServiceSOAP">
<operation name="iniciarJoc">
<input wsam:Action="http://CartasSOAP/WebServiceSOAP/iniciarJocRequest" message="tns:iniciarJoc"/>
<output wsam:Action="http://CartasSOAP/WebServiceSOAP/iniciarJocResponse" message="tns:iniciarJocResponse"/>
</operation>
<operation name="tirarCarta">
<input wsam:Action="http://CartasSOAP/WebServiceSOAP/tirarCartaRequest" message="tns:tirarCarta"/>
<output wsam:Action="http://CartasSOAP/WebServiceSOAP/tirarCartaResponse" message="tns:tirarCartaResponse"/>
</operation>
<operation name="acabarJoc">
<input wsam:Action="http://CartasSOAP/WebServiceSOAP/acabarJocRequest" message="tns:acabarJoc"/>
<output wsam:Action="http://CartasSOAP/WebServiceSOAP/acabarJocResponse" message="tns:acabarJocResponse"/>
</operation>
<operation name="mostrarCartes">
<input wsam:Action="http://CartasSOAP/WebServiceSOAP/mostrarCartesRequest" message="tns:mostrarCartes"/>
<output wsam:Action="http://CartasSOAP/WebServiceSOAP/mostrarCartesResponse" message="tns:mostrarCartesResponse"/>
</operation>
<operation name="moureJugadorPassa">
<input wsam:Action="http://CartasSOAP/WebServiceSOAP/moureJugadorPassaRequest" message="tns:moureJugadorPassa"/>
<output wsam:Action="http://CartasSOAP/WebServiceSOAP/moureJugadorPassaResponse" message="tns:moureJugadorPassaResponse"/>
</operation>
</portType>
<binding name="WebServiceSOAPPortBinding" type="tns:WebServiceSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iniciarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tirarCarta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acabarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarCartes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moureJugadorPassa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceSOAP">
<port name="WebServiceSOAPPort" binding="tns:WebServiceSOAPPortBinding">
<soap:address location="http://localhost:8080/ProyectoCartasSOAP/WebServiceSOAP"/>
</port>
</service>
</definitions>